In [31]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [32]:
# from google.colab import files
# files.upload()

In [33]:
df = pd.read_csv("/content/FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding = "latin-1")
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [34]:
#Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?
stock_variation_sum = df.groupby("Element").sum().loc["Stock Variation"]

# Find the year with the highest sum of Stock Variation
stock_variation_sum

Area Code                                                  571566
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                11329527
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                             21464704
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                    58749.83
Y2015                                                    34910.99
Y2016                                                    33140.12
Y2017                                                    54316.91
Y2018                                                    20577.91
Name: Stock Variation, dtype: object

In [35]:
#Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

df.groupby("Element").sum().loc["Processing", "Y2017"]

292836.0

In [36]:
#What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?
#Mean
print(df["Y2017"].mean().round(2))

140.92

In [37]:
#Standard deviation
df["Y2017"].std().round(2)

1671.86

In [38]:
#What is the total number of unique countries in the dataset?
df["Area"].nunique()

49

In [39]:
#Given the following python code, what would the output of the code give?
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [40]:
# What is the total sum of Wine produced in 2015 and 2018 respectively?
# Hint:
# Perform a groupby sum aggregation on ‘Item - #2015
df.groupby("Item").sum().loc["Wine", "Y2015"]

4251.81

In [41]:
# 2018
df.groupby("Item").sum().loc["Wine", "Y2018"]

4039.32

In [42]:
#Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?
sorted_sums = df[["Y2017", "Area"]].groupby("Area").sum().sort_values(by="Y2017")

# Extracting the area with the 7th lowest sum in 2017
sorted_sums.index[6]

'Guinea-Bissau'

In [43]:
df.shape

(60943, 12)

In [44]:
# What is the total number and percentage of missing data in 2014 to 3 decimal places?
# Total number of entries in the 'Y2014' column
total_entries_2014 = len(df["Y2014"])

# Calculating the percentage of missing data in 2014
percentage_missing_2014 = (df["Y2014"].isnull().sum()/ total_entries_2014) * 100
print(df["Y2014"].isnull().sum())
# Rounding the percentage to 3 decimal places
print(round(percentage_missing_2014, 3))

1589
2.607

In [45]:
# If you have the following list
lst = [[35, "Portugal", 94], [33, 'Argentina', 93], [30, 'Brazil', 92]]
col = ["Age","Nationality","Overall"]

pd.DataFrame(lst, columns = col, index = [1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [46]:
# What is the total Protein supply quantity in Madagascar in 2015?
mdg = df[(df["Area"] == "Madagascar") & (df["Y2015"])]
protein_row = mdg[mdg["Element"] == "Protein supply quantity (g/capita/day)"]
protein_supply = protein_row['Y2015'].values[0]
protein_supply

43.26

In [47]:
#Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?
sum_by_area = df[["Y2017", "Area"]].groupby("Area").sum()
sum_by_area.idxmax()[0]

'Nigeria'

In [48]:
#Which year had the least correlation with ‘Element Code’?
df[["Element Code", "Y2014", "Y2015", "Y2016", "Y2017", "Y2018"]].corr().loc["Element Code"]

Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

In [49]:
#What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [50]:
# # Filter for Madagascar in 2015 and sum the values in the 'Protein supply quantity (g/capita/day)' column
# # protein_supply_2015_madagascar =
# df.loc[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)'), 'Y2015'].sum()